body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img {
  /* width: 1000px;
    height: 500px;
    border: 0px solid #000000; */
  /* margin: 10%;
    margin-top: 5%; */
  width: 100%;
  height: 700px;
  object-fit: cover;
  object-position: 50% 20%;
  margin-bottom: 3%;
}
.home {
  width: 10px;
  font-size: 100%;
  margin-right: 20px;
}
.table {
  /* background-color: yellowgreen; */
  padding: 10px;
  height: 50px;
  width: 50px;
  font-size: medium;
}
.about {
  width: 10px;
  font-size: 100%;
  margin-right: 20px;
}
.test {
  font-size: 70%;
  color: blueviolet;
}
.head {
  font-size: 70%;
  color: blueviolet;
}

.nav-sec {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/* .artikel {
  background-color: aquamarine;
}

.news {
  background-color: grey;
} */

.wrap {
  display: flex;
}
.news-li {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 10px;
}
.news-box {
  background-color: yellow;
  padding: 10px;
}
.news-test li a {
  /* text-decoration: none; */
  color: black;
}
